* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: lato, sans-serif;
}

.body-index {

    display: flex;
    flex-direction: column;

}

.header-index {

    background-color: black;
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: row;

}

.contenedor-imagen {
    padding-top: 10px;
}

.imagen-titulo {
    width: 100px;
    
}

.contenedor-titulo-nav {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contenedor-titulo {
    color: aliceblue;
    margin: 0 auto 10px auto;
    padding: 10px;
}

.contenedor-nav {
}

.lista-nav {
    display: flex;
    justify-content: right;
    list-style: none;
}

.item-lista-nav {
    background-color: orangered;
    margin: 5px;
    padding: 10px;
    border-radius: 20px;
}

.link-item-nav {
    text-decoration: none;
    color: white;
    font-weight: bold;
}



.contenedor-main-aside {
    display: flex;
    flex-direction: row;
}

.main-index {
    background-color: rgb(27, 26, 25);
    width: 70%;
    padding-left: 10px;
}




.aside-index {
    background-color: lightblue;
    width: 30%;

}

.contenedor-aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
}

.link-aside {
    color: black;
    font-weight: bold;
    margin: 5px;
    padding: 10px;
}

dd {
    margin-top: 5px;
}

h2, h3 {
    margin-top: 10px;
}

dt {
    font-weight: bold;
    margin-top: 10px;
}

dd {
    font-style: italic;
}

.seccion {
    background-color: beige;
    border-radius: 20px;
}

.tabla-ejemplo {
    margin: 10px;
    padding: 10px;
}

.aside-index {
    position: fixed;
    right: 0;
    top: 120px;
    height: 620px;
    overflow-y: auto;
}

.titulo-aside {
    text-align: center;
}

.contenedor-aside {
    background-color: rgb(174, 201, 228);
    border-radius: 20px;
    margin: 10px;
    box-shadow: 2px 2px 5px gray;
}



footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
}