header{
    background: yellow;
    height: 280px
    
}

.contenedor-header{
    background: gray;
    border: 2px solid green;
    height: 260px;
}

img{
    border: 2px solid red;
    position:absolute;
    left: 0;
}

nav{
    border: 2px solid blue;
    position: absolute;
    right: 0;
    top: 100px;
}

nav li{
    display: inline;    /* Dispone los elementos de la lista en unsa lola linea*/
}

.div-principal{
    border: 2px solid red;
    height:400px;
    width: 700px;
    position:relative;
}

.div1{
    border: 2px solid blue;
    width: 33%;
    height: 50px;
    position: absolute;
    left: 0;
}

.div2{
    border: 2px solid green;
    width: 33%;
    height: 70px;
    position: absolute;
    left: 232px;
    right: 0;
}

.div3{
    border: 2px solid black;
    width: 33%;
    height: 90px;
    position: absolute;    
    right: 0;
}

.div4{
    border: 2px solid pink;
    width: 49%;
    height: 90px;
    position: absolute;    
    left: 0;
    bottom: 0;
}.div5{
    border: 2px solid yellow;
    width: 49%;
    height: 90px;
    position: absolute;    
    right: 0;
    bottom: 0;
}

footer{
    width: 100%;
    position:fixed;
    bottom: 0;
    text-align: center;
    background: black;
    color: whitesmoke;
}

.text-footer{
}